.contaner{
  background-color:#f0f2f5;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none
}
.saved{
  position:absolute;
  width:30px;
  margin-left: 10px;
  right:60px;
  top:15px;
}
.saved:hover {
  background: #bbb;
}

.searchButton{
  position:absolute;
  top:13px;
  left:140px;
  cursor: pointer;
  width:50px;
  height: 35px;
  border: none;
  border-radius: 2px;
  background-color:#55616f;
}
.searchButton:hover {
  background: #bbb;
}

input[type=text] {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 30%;
}
.search{
  position:absolute;
  top:13px;
  left: 180px;
  background-color:#55616f;
  height: 33px;
  width: 100px;
  border-radius:2px ;
  border: none;
  scrollbar-darkshadow-color: #f0f2f5
}

.user{
  position:absolute;
  width:60px;
  margin-left: 10px;
  right:0px;
  top:0px
}

.facebookUser{
  position:absolute;
  width:30px;
  margin-left: 10px;
  left:0px;
  top:15px
}
.instagramUser{
  position:absolute;
  width:30px;
  top:15px;
  margin-left: 10px;
  left:80px
}
.twitterHome{
  position:absolute;
  width:30px;
  top:15px;
  margin-left: 10px; 
  left: 40px;
}



   