.contaner{
  background-color:#f0f2f5;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}
.saved{
  position:absolute;
  width:30px;
  margin-left: 10px;
  right:100px;
  top:15px;
}
.saved:hover {
  background: #bbb;
  border-radius: 100px;

}

.searchButton{
  position:absolute;
  top:13px;
  left:140px;
  cursor: pointer;
  width:50px;
  height: 35px;
  border: none;
  border-radius: 2px;
  background-color:#55616f;
}
.searchButton:hover {
  background: #bbb;
  
}

input[type=text] {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 15%;
}
.search{
  position:absolute;
  top:13px;
  left: 180px;
  background-color:#55616f;
  height: 33px;
  width: 100px;
  border-radius:2px ;
  border: none;
  scrollbar-darkshadow-color: #f0f2f5
}

.user{
  position:absolute;
  width:60px;
  margin-left: 10px;
  right:0px;
  top:0px
}

.facebookUser{
  position:absolute;
  width:30px;
  margin-left: 10px;
  left:0px;
  top:15px
}
.facebookUser:hover {
  background: #bbb;
  border-radius: 100px;
}
.instagramUser{
  position:absolute;
  width:30px;
  top:15px;
  margin-left: 10px;
  left:80px
}
.instagramUser:hover {
  background: #bbb;
  border-radius: 100px;
}
.twitterHome{
  position:absolute;
  width:30px;
  top:15px;
  margin-left: 10px; 
  left: 40px;
}
.twitterHome:hover {
  background: #bbb;
  border-radius: 100px;
}
.filterUser{
  position:absolute;
  top:10px;
  right:135px;

}
.buttonFilter{
  border-radius: 100px;
  border: none;
  background-color: #5dd1f8;
  margin:3px;
}
.buttonFilter:hover {
  background: #bbb;
}
.imgFilter{
  width:30px;
  height: 30px;
}
.FilterBreak{
  border-radius: 100px;
  border: none;
  background-color: #e73dbd;
  margin:3px;
}
.FilterLunch{
  border-radius: 100px;
  border: none;
  background-color: #e73dbd;
  margin:3px;
}
.FilterDiner{
  border-radius: 100px;
  border: none;
  background-color: #e73dbd;
  margin:3px;

}

.FilterBreak:hover {
  background: #bbb;
}
.FilterLunch:hover {
  background: #bbb;
}
.FilterDiner:hover {
  background: #bbb;
}
