.header{
    margin: 10px;
}
.please{
    margin: 10px;
}

.input1{
    margin: 10px;
    border-Radius: 5px;


}

.text4{
    font-size: 20px;
}


.text7{
    font-size: 20px;
    padding: 38px;
}

.link{
    margin: 5px;
    padding:10px;
    font-size: 18px;

}