.card{
  float: left;
  max-width: 33%;
  max-height: 33%;
  margin: 10px;
}
.area{
  height: 280px;
}

.media{
  height: 220px;
  width: 300px;
}
.title{
  text-align: left;
  color: #434a54;
  }
.actions{
  height: 60px;
}
.saveCard{
  
  width: 20px;
  top:-70px;
  position: absolute;
  left:250px
}
.saveCard:hover {
  background: #bbb;
  border-radius: 50px;
}
.expandOpen{
  transform: rotate(360deg);
   position:absolute;
  right:px; 
}
