.card{
  float: left;
  max-width: 30%;
  max-height: 30%;
  margin: 10px;
}
.area{
  height: 280px;
}

.media{
  height: 220px;
  width: 300px;
}
.title{
  text-align: left;
  }
.actions{
  height: 30px;
}
.save{
  width:30px;
  height: 30px;
  position:absolute;
  left:-10px;
}
.expandOpen{
  transform: rotate(360deg);
  position:absolute;
  right:-260px;
}
