.card{
  float: left;
  max-width: 33%;
  max-height: 33%;
  margin: 10px;
}
.area{
  height: 280px;
}

.media{
  height: 220px;
  width: 300px;
}
.title{
  text-align: left;
  color: #434a54;
  }
.actions{
  height: 0px;
}
.save{
  width:20px;
  height: 20px;
  position:absolute;
  left:-0px;
  top: -30px;
}
.save:hover {
  background: #bbb;
  border-radius: 50px;
}
.expandOpen{
  transform: rotate(360deg);
  position:absolute;
  right:-260px;
}
