.card{
  float: left;
  max-width: 32%;
  max-height: 32%;
  margin: 5px;
  color: "blue"
}

.media{
  height: 200px;
  width: 290px;
  padding-top: '65.25%';

}
.expandOpen{
  transform: 'rotate(180deg)';
}
.title{
  text-align: center;
  }