.media{
    height: 140
  }

.card{
  max-width: 20%;
  max-height: 20%;
  float: left;
  width:100%;
  /* margin-left: 20px; */

}

.media{
  height: 300px;
  width: 400;
  padding-top: '65.25%';

}
.expandOpen{
  transform: 'rotate(180deg)';
}