.centeredHome {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bigimgHome{
  width: 1350px;
  height: 700px;
}
.imageLeft{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
  }

.Top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
.sginUpButton{
    background-color: white;
    width: 80px;
    border-Radius: 20px;
    padding: 13px;
    border: none;
    position: absolute;
    top: 8px;
    right: -1200px;
    font-size: 14px;
  }
  
.filter{
    margin:5px;
    border-Radius: 10px;
    padding: 5px;
    border:'none';
    transform: translate(-50%, -50%);
  }

.cards{
    width:100%;

}
.centeredHomeP{
  position: absolute;
  top: 500px;
  left: 0%;
  transform: translate(0%, 0%);

  font-size: 20px;
  color:#b71c1c;
}

.input1{
  width:380px;
  padding: 9px;
  margin:10px;
  border: none;
  opacity: 0.9;
  border-Radius: 2px;
  background: white;
  height: 30px;
}

.search{
  padding: 9px;
  margin:10px;}