.facebookHome{
  position:absolute;
  width:40px;
  margin-left: 50px;
  right:60px; 
  top:575px;
}
.instegramHome{
  position:absolute;
  width:40px;
  top:575px;
  margin-left: 0px; 
  right:120px;
}
.tiwitterHome{
  position:absolute;
  width:40px;
  top:575px;
  margin-left: 50px; 
  right:180px;
}
.buttonsHome{
  position:absolute;
  right:60px; 
  top:30px;
  flex-direction:row;
}
.aboutUs{
  background-color: #00000000;
  width: 120px;
  border-radius: 20px;
  border: 2px solid;
  border-color:#fd6700;
  font-size: 18px;
  color:white;
  font-weight:bold;
  margin-right:20px;
  padding:16px;
}
.home{
  background-color: #00000000;
  width: 120px;
  border-radius: 20px;
  border: 2px solid;
  border-color:#fd6700;
  font-size: 18px;
  color:white;
  font-weight:bold;
  margin-right:20px;
  padding:16px;
        
}
.signUpHome{
  background-color: #00000000;
  width: 160px;
  border-radius: 20px;
  border: 2px solid;
  border-color:#fd6700;
  font-size: 16px;
  color:white;
  font-weight:bold;
  margin-right:20px;
  padding:16px;
}
.heder{
  font-size:80px;
  color:white;
  margin-bottom:5px;
  position: absolute;
  top: 200px;
  left: 100px;
}
.enjoy{
  font-size:26px;
  max-width: 400px;
  color:white;
  position: absolute;
  top: 320px;
  left: 115px;
}
.explore{
  background-color: #00000000;
  width: 150px;
  border-radius: 20px;
  border: 2px solid;
  border-color:#fd6700;
  font-size: 18px;
  font-weight:bold;
  color:white;
  padding:16px;
  position: absolute;
  top: 420px;
  left: 120px;
}
.centeredHome {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
}

