.facebookHome{
  position:absolute;
  width:40px;
  margin-left: 50px;
  left:0px; 
  top:590px;
}
.instegramHome{
  position:absolute;
  width:40px;
  top:590px;
  margin-left: 0px; 
  left:100px;
}
.tiwitterHome{
  position:absolute;
  width:40px;
  top:590px;
  margin-left: 50px; 
  left:100px;
}
.buttonsHome{
  position:absolute;
  right:60px; 
  top:30px;
  flex-direction:row;
}
.aboutUs{
  background-color: #00000000;
  width: 120px;
  border-radius: 20px;
  border: 2px solid;
  border-color:white;
  font-size: 18px;
  color:#FBFF00;
  font-weight:bold;
  margin-right:20px;
  padding:16px;
}
.home{
  background-color: #00000000;
  width: 120px;
  border-radius: 20px;
  border: 2px solid;
  border-color:white;
  font-size: 18px;
  color:#FBFF00;
  font-weight:bold;
  margin-right:20px;
  padding:16px;
        
}
.signUpHome{
  background-color: #00000000;
  width: 120px;
  border-radius: 20px;
  border: 2px solid;
  border-color:white;
  font-size: 16px;
  color:#FBFF00;
  font-weight:bold;
  margin-right:20px;
  padding:16px;
}
.heder{
  font-size:80px;
  color:#F5F905;
  margin-bottom:5px;
  position: absolute;
  top: 200px;
  left: 100px;
}
.enjoy{
  font-size:26px;
  color:#F8FB3E;
  position: absolute;
  top: 330px;
  left: 110px;
}
.explore{
  background-color: #00000000;
  width: 150px;
  border-radius: 20px;
  border: 2px solid;
  border-color:white;
  font-size: 18px;
  font-weight:bold;
  color:#FBFF00;
  padding:16px;
  position: absolute;
  top: 420px;
  left: 200px;
}
.centeredHome {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
}

