.Home {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 50px;

  }
  
  .image{
    width: 40px;
    height: 40px;
    margin: 3px;
    padding: 5px;
    border-radius: 50%;
    vertical-align: middle;
  }
  .button{
    border-Radius: 10px;
    padding: 9px;
    border:'none';
    position: absolute;
    top: 8px;
    right: -1140px;
    color:'#ff9800';
  }
  
  .input{
    width: 350px;
    height: 30px;
    border-Radius: 15px;
  }
  .searchButton{
    margin:0px;
    border-Radius: 100px;
    padding: 0px;
    
  }
  .searchImage{
    width:35px;
    height: 35px;
  }

  .search{
    order:'none';
    position: 'relative';
    position: 'absolute';
    pointer-events: 'none';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
  }
  
  .filter{
    margin:5px;
    border-Radius: 10px;
    padding: 5px;
    border:'none';
    transform: translate(-50%, -50%);

  }
  
  .Top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  
  .bigimg{
    width: 1350px;
    height: 700px;
  }
  
  .centered {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 1311px;
    /* transition: .5s ease; */
    opacity:0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }

  .cards{
    width:100%;
    float: right;
    display: flex;

  }

