.imgFilter{
    width:35px;
    height: 35px;
    border-radius: 17px;
  }
  .FilterBreak{
    border-radius: 100px;
    border: none;
    background-color: #e73dbd;
    margin:3px;
  }
  .FilterLunch{
    border-radius: 100px;
    border: none;
    background-color: #e73dbd;
    margin:3px;
  }
  .FilterDiner{
    border-radius: 100px;
    border: none;
    background-color: #e73dbd;
    margin:3px;
  
  }
  
  .FilterBreak:hover {
    background: #bbb;
  }
  .FilterLunch:hover {
    background: #bbb;
  }
  .FilterDiner:hover {
    background: #bbb;
  }