 
  .image{
    width: 40px;
    height: 40px;
    margin: 3px;
    float: left;
    padding: 5px;
    border-radius: 50%;
    vertical-align: middle;
  }
  
  .input{
    margin:10px;
    width: 350px;
    height: 30px;
    border-Radius: 20px;
  }
  
  .button{
    border-Radius: 10px;
    padding: 9px;
    border:'none';
    position: absolute;
    top: 8px;
    right: -1140px;
  
  }
  
  .Top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  
  .bigimg{
  
    width:100%;
    height: 100%;
    opacity: 0.5;
    
  
  }
  
  .centered {
    color:black; 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4100; 
  }
  .filter{
    margin:3px;
    border-Radius: 10px;
    padding: 5px;
    border:'none';
  }
  
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }