.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:"center";

}
  .bigimg{
    width:100%;
    height:50% ;
    opacity: 0.8;
  }

  .centered { 
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
    .header {
      font-size:30px;
      font-family: "Open Sans", sans-serif;
      text-align: center;
      color:yellow;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: fit-content;
    }

    /* .label{
      color:white;
      font-size:20px;
    } */
    .input{
            margin-top: 1em;          
            min-width: 18em;
            height: 37px;
            padding: 0px 10px;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            background-color: #f7f7f7;
            border: 0;
            border-radius: 4px;
            margin-bottom: 15px;
            transition: all 250ms ease-in-out;
            color:black;    
            
          }

    .linkAsBtn{
      display: inline-block;
      text-decoration: none;
      letter-spacing: var(--mainSpacing);
      color: var(--mainBlack);
      background: var(--primaryColor);
      padding: 0.4rem 0.9rem;
      border: 3px solid var(--primaryColor);
      transition: var(--mainTransition);
      text-transform: uppercase;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      background: transparent;
      color: #72F527;
     
    }
    