.App {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  */

.image{
  width: 30px;
  height: 30px;
  margin: 3px;
  float: left;
  padding: 5px;
  border-radius: 50%;
  vertical-align: middle;


}

.input{
  margin:20px;
  width: 300px;
  height: 30px;
  border-Radius: 20px;
}

.button{
  border-Radius: 10px;
  padding: 4px;
  border:'none';
  float: right;
  vertical-align: middle;
  margin :20px;
}

.Top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bigimg{
  widows: 100%;
}