
  .topnav {
    height: 70px;
  overflow: hidden;
  background-color: #434A54;
}



.sidenav {
  height: 100%;
  width: 233px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #434A54;
  overflow-x: hidden;
}

.welcome{
    color: rgb(245, 80, 3);
    padding-left:15px;
    padding-right:0px;
    margin-right: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-size: 22px;
}

.catigories{
  color: #fff;
  padding-left:15px;
  padding-right:0px;
  margin-right: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  font-size: 22px;
}

.line{
  width:200px;
  margin-bottom: 3px

}
.about{
  font-size: 22px;
  margin-left:15px;
  padding-right:109px;
  padding-left: 0px;
  background-color:transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.mealType{
  color: #45E0F9;
  margin-left:14px;
  margin-bottom: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.catigory{
    margin-bottom: 9px
}
.sign{
  font-size: 22px;
  margin-left:15px;
  padding-right:122px;
  padding-left: 0px;
  background-color:transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}  .sign:hover {
  background: #bbb;
}

.img{
  width:44px;
  height: 46px;
  margin-left: 10px;
  border-radius: 23px;
  border: none;
      
}

.img:hover{
  background: #fff;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.about:hover {
  background: #bbb;
}

.main {
  margin-left: 240px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}


.follow{
  width:42px;
  height: 42px;
  margin-left: 10px;
  border-radius: 21px;
  border: none;
}

.follow-text{
  color: #fff;
  padding-left:15px;
  margin-top: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
}

.searchBox{
  position: absolute;;
  height: 34px;
  margin-top:17px;
  background-color:#55616f;
  height: 33px;
  width: 303px;
  border-radius:2px ;
  border: none;
  padding-left: 20px;
  scrollbar-darkshadow-color: #f0f2f5;
  margin-left: 240px;
}

.searchbtn{
  position: absolute;;
  top:17px;
  left:px;
  width:170px;
  height: 35px;
  border: none;
  border-radius: 2px;
  background-color:#55616f;
  color: rgb(245, 80, 3);
  font-weight: bold;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif


}

.signUp{
  position: absolute;;
  top:17px;
  left:1200px;
  width:90px;
  height: 35px;
  border: none;
  border-radius: 2px;
  background-color:transparent;
  scrollbar-darkshadow-color: #f0f2f5;
  color: rgb(245, 80, 3);
  font-weight: bold;
  font-size: 16px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.about-us{
  position: absolute;
  top:17px;
  left:800px;
  width:90px;
  height: 35px;
  border: none;
  border-radius: 2px;
  background-color:transparent;
  scrollbar-darkshadow-color: #f0f2f5;
  color: rgb(245, 80, 3);
  font-weight: bold;
  font-size: 16px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.add{
  position:absolute;
  top:17px;
  left:1100px;
  width:90px;
  height: 35px;
  border: none;
  border-radius: 2px;
  background-color:transparent;
  scrollbar-darkshadow-color: #f0f2f5;
  color: rgb(245, 80, 3);
  font-size: 16px;

  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.fav{
  position:absolute;
  top:17px;
  left:1000px;
  width:90px;
  height: 35px;
  border: none;
  border-radius: 2px;
  background-color:transparent;
  scrollbar-darkshadow-color: #f0f2f5;
  color: rgb(245, 80, 3);
  font-weight: bold;
  font-size: 16px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.my-meals{
  position:absolute;
  top:17px;
  left:900px;
  width:90px;
  height: 35px;
  border: none;
  border-radius: 2px;
  background-color:transparent;
  scrollbar-darkshadow-color: #f0f2f5;
  color: rgb(245, 80, 3);
  font-weight: bold;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.topnav button:hover{
    background-color: #bbb
}
  .cards{
    margin-left: 0px;
    display:inline-block;
  }



  .user{
    border-radius: 50/2
  }


.base-containerAdd{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:"center";
    position: relative;
  
  }
  
.inputAdd{
  width:380px;
  height: 30px;
  padding: 9px;
  margin:10px;
  border: none;
  opacity: 0.9;
  border-Radius: 2px;
  background: white;
}

.text1Add {
    font-size: 20px;
    padding: 10px;
  
  }
  .text4Add {
    font-size: 20px;
    padding: 15px;
  }


  .bg{
    padding-top:60px;
    padding-bottom:60px;
    padding-left: 100px;
    display:flex;
    /* background-color: #fd6700; */
    
  }


.form{
    margin:20px;
    display:flex;
    padding:20px;
    margin-left: 0px;
    background-color: #f0f2f5;
    flex-direction: column;
    width:1047px;


}

.Header{
    margin-bottom: 1px;
    color: #fd6700;
    font-size: 28px;

}

.subTitle{
    color:#434A54;
    font-size:18px;

}

.inputAdd{
    width:500px;
    height: 30px;
    padding: 9px;
    margin:10px;
    border: none;
    border-Radius: 2px;
    background: #EEAD54;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold
}

  .inputAdd2{
    width:234px;
    height: 30px;
    padding: 9px;
    margin:8px;
    border: none;
    opacity: 0.9;
    border-Radius: 2px;
    background: #EEAD54;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold


  }

  .inputAdd-image{
    width:234px;
    height: 30px;
    padding: 9px;
    border: none;
    opacity: 0.9;
    border-Radius: 2px;
    background: #EEAD54;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold

  }
  .pick{
    width:240px;
    height: 30px;
    padding: 9px;
    margin-left:9px;
    margin-right:1px;
    border: none;
    opacity: 0.9;
    border-Radius: 2px;
    background: #EEAD54;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold
  }

  .upload{
    width:255px;
    height: 46px;
    margin: 9px;
    padding-bottom: 10px;
    border-Radius: 2px;
    background: rgb(159, 164, 170);
    border: none;
    color:black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold
    
    
}

.uploading{
    margin-bottom:9px;
}

.options{
    border-radius:2px;
    background-color: #EEAD54;
    padding:9px;
    width:500px;
    margin-left: 9px;
    margin-bottom: 14px
}
.text1Add {
    font-size: 15px;
    padding:1px;
    margin:6px;
    font-weight: bold
  }


  .text4Add {
    font-size: 16px;
    padding: 9px;
    font-weight: bold;
    color: #434A54
  }

  .clasify{
      margin:9px;
      display: flex;
      flex-direction: column;
      border-radius:2px;
    background-color: #EEAD54;
    width: 210px;

  }

  .clasify2{
    margin:9px;
    display: flex;
    flex-direction: column;
    border-radius:2px;
  background-color: #EEAD54;
  width: 290px;

}

.ocassion{
    padding:1px;
    margin:6px;
    font-size:15.5px
}

  .oneClasify{
    display: flex;
    flex-direction: row;


  }

  .btn{
      margin-top:11px;
      margin-right:1px
  }

  .Add{
    width:520px;
    height: 46px;
    margin: 9px;
    border-Radius: 2px;
    background: #fd6700;
    border: none;
    color:black;
    font-weight: bold;
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center
  }


  