.input1{
    width: 300px;
    height: 30px;
    border-Radius: 5px;
    margin:5px;


}

.input2{
    width: 300px;
    height: 60px;
    border-Radius: 5px;
    margin:10px;


}

.input3{
    width: 300px;
    height: 90px;
    border-Radius: 5px;
    margin:10px;


}
.input4{
    width: 300px;
    height: 30px;
    border-Radius: 5px;
    margin:10px;


}

.text1{
    font-size: 21px;
    margin: 10px;
}


.text5{
    font-size: 20px;
    margin: 15px;
}
.button1{
    margin: 10px;
    border-Radius: 5px;
    padding: 7px;
}

.link{
    margin: 5px;
    padding:10px;
    font-size: 18px;

}