.contanerMeal{
    background-color:#f0f2f5;
}
.mealTitle{
    margin-left:20px;
    font-size: 50px;
    color: #fd6700;
    font-family: "Lucida Console", Courier, monospace;
    
}
.mealImg{
    max-width:30%;
    max-height: 30%;
    margin-left: 900px;
    margin-top: -250px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 0px 5px rgba(67,74,84,1);
    -moz-box-shadow: 0px 1px 0px 5px rgba(67,74,84,1);
    box-shadow: 0px 1px 0px 5px rgba(67,74,84,1);
}

.Title{
    margin-left: 40px;
    font-size: 20px;
    color: #fd6700;
    font-family: "Lucida Console", Courier, monospace;

}
.contents{
    font-size: 20px;
    margin-left: 150px;
    margin-top: -45px;
    color: #55616f;


}